@model mmtMVC.Models.mmtexam

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>mmtexam</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.surveyname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.surveyname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.catid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.catid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.instructions)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.instructions)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.questioncount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.questioncount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.offline)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.offline)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.randomtest)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.randomtest)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.uploaddate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.uploaddate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.addedby)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.addedby)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isfreezed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isfreezed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.flagged)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.flagged)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.flagerror)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.flagerror)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.islive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.islive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.endbutton)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.endbutton)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.masterxmlfile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.masterxmlfile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.examlanguage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.examlanguage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.passingmarks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.passingmarks)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
