<!DOCTYPE html>

<html>
<head>
    <link href="/favicon.ico" rel="shortcut icon">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=9" http-equiv="X-UA-Compatible">
    <meta content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" name="SKYPE_TOOLBAR">

    <script src="@("/Content/js/jquery-1.10.1.min.js")" type="text/javascript"></script>
    <link media="screen" href="@("/Content/css/codestyle.css")" rel="stylesheet" type="text/css">
    <link href="@("/Content/css/csharp.css")" rel="stylesheet" />
    <link href="@("/Content/css/google_fonts.css")" type="text/css" rel="stylesheet">
    <link media="screen" href="@("/Content/css/jquery.popup.css")" type="text/css" rel="stylesheet">
    <link href="@("/Content/css/lightbox.min.css")" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="@("/Content/css/tip-twitter.css")">

    <script src="@("/Content/js/jquery.popup.js")" type="text/javascript"></script>
    <script src="@("/Content/js/fancy-popup.js")" type="text/javascript"></script>
    <script src="@("/Content/js/lightbox.min.js")" type="text/javascript"></script>
    <script src="@("/Content/js/jquery.bxslider.js")"></script>
    <script src="@("/Content/js/jquery.placeholder.js")" type="text/javascript"></script>
    <script src="@("/Content/js/html5.js")" type="text/javascript"></script>
    <script src="@("/Content/js/common.js")" type="text/javascript"></script>



    <script src="@("/Content/js/alertify.min.js")"></script>
    <link href="@("/Content/css/alertify.core.css")" rel="stylesheet" />
    <link href="@("/Content/css/alertify.default.css")" rel="stylesheet" />
    <script src="@("/Content/js/jquery.poshytip.js")" type="text/javascript"></script>

    <style type="text/css">
        body {
            background-color: #F9F9F9;
            font-size: 16px;
        }

        .notificationclass {
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 2px;
            padding-top: 2px;
            background-color: #CC0000;
            color: white;
            font-size: 12px;
            font-weight: bold;
            display: none;
            text-align: center;
            border-radius: 4px;
            position: absolute;
        }

        .creation_listing td {
            padding-left: 10px;
            padding-right: 10px;
        }

        .hoverdiv {
            color: #0D88C3;
            border: solid 1px #0D88C3;
            margin-top: -4px;
        }

            .hoverdiv:hover {
                background-color: #0D88C3;
                border-color: #0D88C3;
                color: white;
            }

        .hoverdivexp {
            color: #CC0000;
            border: solid 1px #CC0000;
            margin-top: -4px;
        }

            .hoverdivexp:hover {
                background-color: #CC0000;
                border-color: #CC0000;
                color: white;
            }
    </style>
    <script src="@("/Content/js/jquery.blockUI.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.unblockUI();
        });


        $(document).ready(function () {

            SetToolTip("tooltipSetting");
        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $("#toTop").click(function () {
            $("html, body").animate({ scrollTop: 0 }, 1000);
        });

        function SetToolTip(className) {

            $('.' + className).each(function () {
                var Id = $(this);
                var alignx = Id.attr("data-alignx").toString();
                var aligny = Id.attr("data-aligny").toString();
                var offsetx = parseInt(Id.attr("data-offsetx"));
                var offsety = parseInt(Id.attr("data-offsety"));
                var alignto = Id.attr("data-alignto").toString();
                //alert(alignx + " " + aligny + " " + offsetx + " " + offsety + " " + alignto);
                Id.poshytip({
                    className: 'tip-twitter',
                    showTimeout: 1,
                    alignTo: alignto,
                    alignX: alignx,
                    alignY: aligny,
                    offsetY: offsety,
                    offsetX: offsetx,
                    allowTipHover: false,
                    fade: false,
                    slide: false
                });
            });
        }

    </script>

    <link type="text/css" rel="stylesheet" href="@("/Content/css/style-new-ca.css")" media="screen" />


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=9" http-equiv="X-UA-Compatible">
    <meta content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" name="SKYPE_TOOLBAR">
    <script src="@("/Content/js/jquery-1.10.1.min.js")")" type="text/javascript"></script>
    <link media="screen" href="@("/Content/css/codestyle.css")")" rel="stylesheet" type="text/css">
    <link media="all" type="text/css" href="@("/Content/css/jquery.bxslider.css")")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link media="screen" href="@("/Content/css/jquery.popup.css")")" type="text/css" rel="stylesheet">
    <link href="@("/Content/css/lightbox.min.css")")" type="text/css" )" rel="stylesheet">
    <link href="@("/Content/css/jquery-filestyle.min.css")")" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="@("/Content/css/tip-twitter.css")")">

    <script src="@("/Content/js/jquery.popup.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/fancy-popup.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/lightbox.min.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/jquery.bxslider.js")")"></script>
    <script src="@("/Content/js/jquery.placeholder.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/html5.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/common.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/jquery-filestyle.min.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/notify.min.js")")" type="text/javascript"></script>
    <script src="@("/Content/js/jquery.tooltipster.min.js")")"></script>
    <link href="@("/Content/css/tooltipster.css")")" rel="stylesheet" />
    <script src="@("/Content/js/alertify.min.js")")"></script>
    <link href="@("/Content/css/alertify.core.css")")" rel="stylesheet" />
    <link href="@("/Content/css/alertify.default.css")")" rel="stylesheet" />
    <script src="@("/Content/js/jquery.poshytip.js")")" type="text/javascript"></script>

   
    <style type="text/css">
        body {
            background-color: #F9F9F9;
            font-size: 16px;
        }

        .notificationclass {
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 2px;
            padding-top: 2px;
            background-color: #CC0000;
            color: white;
            font-size: 12px;
            font-weight: bold;
            display: none;
            text-align: center;
            border-radius: 4px;
            position: absolute;
        }

        .hoverdiv {
            color: #0D88C3;
            border: solid 1px #0D88C3;
            margin-top: -4px;
        }

            .hoverdiv:hover {
                background-color: #0D88C3;
                border-color: #0D88C3;
                color: white;
            }

        .hoverdivexp {
            color: #CC0000;
            border: solid 1px #CC0000;
            margin-top: -4px;
        }

            .hoverdivexp:hover {
                background-color: #CC0000;
                border-color: #CC0000;
                color: white;
            }

        .tbltestopts td {
            padding: 20px;
        }
    </style>
    <script src="@("/Content/js/jquery.blockUI.js")")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.unblockUI();
        });


        $(document).ready(function () {
            $(".func-common").mouseover(function () {
                $(".functionality-center").hide();
                $("#display_" + this.id).fadeIn();
            });
            SetToolTip("tooltipSetting");
        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $("#toTop").click(function () {
            $("html, body").animate({ scrollTop: 0 }, 1000);
        });

        function SetToolTip(className) {

            $('.' + className).each(function () {
                var Id = $(this);
                var alignx = Id.attr("data-alignx").toString();
                var aligny = Id.attr("data-aligny").toString();
                var offsetx = parseInt(Id.attr("data-offsetx"));
                var offsety = parseInt(Id.attr("data-offsety"));
                var alignto = Id.attr("data-alignto").toString();
                //alert(alignx + " " + aligny + " " + offsetx + " " + offsety + " " + alignto);
                Id.poshytip({
                    className: 'tip-twitter',
                    showTimeout: 1,
                    alignTo: alignto,
                    alignX: alignx,
                    alignY: aligny,
                    offsetY: offsety,
                    offsetX: offsetx,
                    allowTipHover: false,
                    fade: false,
                    slide: false
                });
            });
        }
        function comp() {

            $.fancybox.open([{ href: '#divcreate', modal: true, closeBtn: false }]);
        }

        function update() {

            $.fancybox.open([{ href: '#divupdate', modal: true, closeBtn: false }]);
        }

        function load() {
           
            $.fancybox.open([{ href: '#divload', modal: true, closeBtn: false }]);
        }
        function closebox() {
            isshown = false;
            $.fancybox.close();
        }
    </script>

    <link type="text/css" rel="stylesheet" href="@("/Content/css/style-new-ca.css")")" media="screen" />




</head>
<body>

    <noscript>
        <table style="margin-left: auto; margin-right: auto" width="799px" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <p style="text-align: center; color: Red; font-size: 14px;"><i>It seems that Javascript is off in your browser.Please enable the javascript and refresh, to properly view this page.</i></p>
                </td>
            </tr>
        </table>

    </noscript>



    <div id="pnlloggedin">


        <header class="dash_left" style="width: 90% !important">
            <section class="dashboard_h_wrapper">
                <aside style="width:200px;height:50px" class="dash_logo">
                    <img id="header1" style="max-height: 70px; max-width: 350px; position: relative; bottom: 7px;" src="@("/Content/images/erlogo.png")">
                </aside>

                <aside class="dash_right_sec">
                    <div class="login_username_icon">
                        <img src="@("/Content/images/login-user.png")">
                        Welcome, </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </aside>
            </section>
        </header>

        <header class="dash_right" style="width: 10% !important">
            <section class="dashboard_h_wrapper">
                <div class="dropdown">

                    <a style="left: 1px;" href="index" class="account3" id="">
                        <img data-offsetx="0" data-offsety="5" data-aligny="bottom" data-alignto="target" data-alignx="center" title="Back to Administration" class="tooltipSetting tooltip2" alt="" src="@("/Content/images/back-icon.png")">
                    </a>
                    <a style="left: 75px;" href="logout.aspx" class="account3" id="">
                        <img data-offsetx="0" data-offsety="5" data-aligny="bottom" data-alignto="target" data-alignx="center" title="Logout" class="tooltipSetting tooltip2" alt="" src="@("/Content/images/logout-icon.png")">
                    </a><br>

                </div>
            </section>
        </header>
        
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
